<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 750; font-size: 3em">
        About the Student
        <!-- style feature that provides the user with the current date -->
        <p style="font-weight: 400; color: black;"> {{currentDate | date: 'fullDate'}}</p> 
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Jesse Lindahl Student ID: 1022412"></app-explore-container>
</ion-content>
