<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 750; font-size: 3em">
        Grocery List
        <!-- style feature that provides the user with the current date -->
        <p style="font-weight: 400; color: black;"> {{currentDate | date: 'fullDate'}}</p> 
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of loadItem(); let i = index">
      <ion-item>
        <ion-icon size="small" name="ellipse"></ion-icon>
          {{item.name}}
          {{item.quantity}}
      </ion-item>
      <ion-item-options>
        <button (click)="editItem(item, i)" ion-button colors="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button (click)="shareItem(item, i)" ion-button colors="light" icon-start>
          <ion-icon name="share"></ion-icon>
          Share
        </button>

        <button (click)="removeItem(item, i)" ion-button colors="secondary" icon-start>
          <ion-icon name="checkmark"></ion-icon>
          Check
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom edge>
    <button (click)="addItem()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
